@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

.info-section{
    width: 100%;
    padding: 60px;
    height: 350px;
    /* background-color: rgba(206, 170, 103, 0.436); */
    background-color: rgba(245, 222, 179, 0.523);
    display: flex;
    justify-content: space-around;
}

.info-section img{
    height: 100%;
    width: 30%;
    border-radius: 20px;
    border-top: none;
    border:1px solid black;
}

.info-section p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    
}

.info-div{
    height: 100%;
    width: 30%;
    
}
