@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

.recommended-cards {
  /* height: 650px; */
    width: 250px;
    /* margin-top: 10px; */
    display: inline-block;
    position: relative;
    padding-top: 0;
    cursor: pointer;
    margin-bottom: 15px;
}

.recommended-for-you-section {
  font-family: "Poppins", sans-serif;
  width: 90%;
  padding: 40px 40px 40px 40px;
  margin-top: 40px;
  /* background-color: lightcyan;
  border-radius: 60px;
  border: 1px solid darkcyan; */
  margin-left: 70px;
    
}

.recommended-cards img {
  height: 250px;
  width: 250px;
  padding: 5px;
  position: relative;
  /* margin-top: 100px; */
}

span .checked {
  background-color: orange;
}

.recommended-cards p {
  padding-left: 5px;
  font-size: 1rem;
}

.recommended-cards:hover img {
  /* filter: blur(1px); */
  opacity: 0.8;
}

.recommended-cards:hover p{
  text-decoration: underline;
}
