.review-list-container {
    margin-top: 5px;
    overflow-x: hidden;
  }
  
  .review-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .review-item {
    border-bottom: 1px solid black;
    padding: 5px;
    width: 100%;
    position: relative;
    


  }
  
  .review-header {
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  .review-comment {
    margin-top: 5px;
    position: relative; 
     overflow-wrap: break-word;
  }

  .review-list-container h2{
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  
  .review-list-container h2{
    position: static;
  }
