.search-section{
    width: 100%;
    background-image: url('/src/assets/images/bg-beach.jpg');
    height: 550px;
    margin-top: 0;
}
.searchbar{
    position: relative;
    width: 40%;
    height: 10%;
    margin-left: 460px;
    margin-top: 200px;
    border-radius: 15px;
    padding: 8px;
    border: 1px solid black;
}

