@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

/* .star-rating {
    /* display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 550px;
    margin-top: 10px;
    height: 50px; 
}
    */

/* .star {
  cursor: pointer;
  margin-right: 5px;
  font-size: 3rem;
}

.star.filled {
  color: gold; Change this to your desired star color
}

.rating-text {
  margin-left: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
} */

.StarRating{
  font-size:70px;
  gap: 10px;
  padding: 10px;
}


/* .StarRating input[type='checkbox'] + span:before {
  content: '\2713';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}

/* Style the custom checkbox when checked */
/* .StarRating input[type='checkbox']:checked + span:before {
  background-color: orange;
  color: #fff; */

/* Adjust the styles based on your specific design requirements. This CSS will customize the appearance of the checkbox and its checkmark. */







.warning{
  color: red;
  text-align: center;
}

.OK{
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: 730px;
  font-family: 'poppins',sans-serif;
  font-weight: bold;
  background-color: lightgreen;
  color: black;
  border: none;
  border-radius: 10px;
}

.OK:hover{
 transform: scale(1.1);
}
