@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

 
 
 .beach-cards{
    height: 350px;
    width: 250px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    padding-top: 0;
    cursor: pointer;
    
 }

 .top-beaches-section{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    padding: 40px 40px 40px 40px;
    /* display: inline-block;
     */
     /* background-color: lightgoldenrodyellow;
     border-radius: 60px;
     border: 1px solid greenyellow; */
     margin-top: 5px;
     margin-left: 70px;
 }

 .beach-cards img{
  height: 250px;
  width: 250px;
  padding: 5px;
  position: relative;

 }

 span .checked{
   background-color: orange;
 }

 .beach-cards p{
   padding-left: 5px;
   font-size: 1rem;
 }

 .beach-cards:hover img{
  opacity: 0.8;
 }

 .beach-cards:hover p{
  text-decoration: underline;
 }