@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

 
 
 .beach-cards{
    height: 350px;
    width: 250px;
    
    margin-left: 40px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    padding-top: 0;
    
 }

 .top-beaches-section{
    font-family: 'Poppins';
    width: 100%;
    padding: 40px 40px 40px 40px;
    /* display: inline-block;
     */
 }

 .beach-cards img{
  height: 250px;
  width: 250px;
  padding: 5px;
  position: relative;

 }

 span .checked{
   background-color: orange;
 }

 .beach-cards p{
   padding-left: 5px;
 }