@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap");

 
 
 .hotel-cards{
    height: 300px;
    width: 250px;
    border: 2px solid black;
    margin-left: 40px;
    margin-top: 10px;
 }

 .top-hotel-section{
    font-family: 'Poppins';
    width: 100%;
    padding: 40px 40px 40px 40px;
    
 }