@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins&display=swap');

*{
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.searchbox{
    position: relative;
    width: 20%;
    height: 10%;
    padding-left: 200px;
}